<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dore jQuery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Content/font/iconsmind/style.css" />
    <link rel="stylesheet" href="~/Content/font/simple-line-icons/css/simple-line-icons.css" />
                                 
    <link rel="stylesheet" href="~/Content/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/datatables.responsive.bootstrap4.min.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/select2.min.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/bootstrap-stars.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/nouislider.min.css" />
    <link rel="stylesheet" href="~/Content/css/vendor/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="~/Content/css/main.css" />
</head>
<body id="app-container" class="menu-default show-spinner">
    @RenderBody()
    <script src="~/Content/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/Content/js/vendor/Chart.bundle.min.js"></script>
    <script src="~/Content/js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="~/Content/js/vendor/moment.min.js"></script>
    <script src="~/Content/js/vendor/fullcalendar.min.js"></script>
    <script src="~/Content/js/vendor/datatables.min.js"></script>
    <script src="~/Content/js/vendor/perfect-scrollbar.min.js"></script>
    <script src="~/Content/js/vendor/owl.carousel.min.js"></script>
    <script src="~/Content/js/vendor/progressbar.min.js"></script>
    <script src="~/Content/js/vendor/jquery.barrating.min.js"></script>
    <script src="~/Content/js/vendor/select2.full.js"></script>
    <script src="~/Content/js/vendor/nouislider.min.js"></script>
    <script src="~/Content/js/vendor/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/vendor/Sortable.js"></script>
    <script src="~/Content/js/vendor/mousetrap.min.js"></script>
    <script src="~/Content/js/dore.script.js"></script>
    <script src="~/Content/js/scripts.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
